name: sparkling_martin
services:
    jellyfin:
        cpu_shares: 90
        command: []
        container_name: jellyfin
        deploy:
            resources:
                limits:
                    memory: "16024338432"
                reservations:
                    devices:
                        - driver: nvidia
                          count: all
                          capabilities: [gpu]
        gpus: all
        environment:
            PUID: 1000
            GUID: 1000
            TZ: Europe/Madrid
            NVIDIA_VISIBLE_DEVICES: all
            NVIDIA_DRIVER_CAPABILITIES: compute,video,utility
        hostname: jellyfin
        image: lscr.io/linuxserver/jellyfin:latest
        runtime: nvidia
        group_add:
            - "video"
        labels:
            icon: https://icon.casaos.io/main/all/jellyfin.png
        network_mode: bridge
        ports:
            - target: 8096
              published: "8096"
              protocol: tcp
            - target: 7359
              published: "7359"
              protocol: udp
            - target: 1900
              published: "1900"
              protocol: udp
        restart: unless-stopped
        volumes:
            - type: bind
              source: /srv/storage/services/jellyfin/config
              target: /config
            - type: bind
              source: /srv/storage/services/jellyfin/cache
              target: /cache
            - type: bind
              source: /srv/storage/services/jellyfin/transcode
              target: /transcode
            - type: bind
              source: /srv/storage/media
              target: /media
            - type: bind
              source: /srv/storage/services/jellyfin/custom-cont-init.d
              target: /custom-cont-init.d
              read_only: true
networks:
    default:
        name: sparkling_martin_default
x-casaos:
    author: self
    category: self
    hostname: ""
    icon: https://icon.casaos.io/main/all/jellyfin.png
    index: /
    is_uncontrolled: false
    port_map: "8096"
    scheme: http
    store_app_id: sparkling_martin
    title:
        custom: ""
        en_us: jellyfin
