name: dns
services:
    pihole:
        cap_add:
            - NET_ADMIN
        cpu_shares: 90
        command: []
        container_name: pihole
        deploy:
            resources:
                limits:
                    memory: "16024338432"
        environment:
            FTLCONF_dns_listeningMode: ALL
            FTLCONF_dns_upstreams: unbound#53
            TZ: Europe/Madrid
            WEBPASSWORD: CuecesAveOEnriqueces2025
        hostname: pihole
        image: pihole/pihole:latest
        labels:
            icon: https://cdn.jsdelivr.net/gh/homarr-labs/dashboard-icons/png/pi-hole.png
        networks:
            dns-net: null
        ports:
            - mode: ingress
              target: 53
              published: "53"
              protocol: tcp
            - mode: ingress
              target: 53
              published: "53"
              protocol: udp
            - mode: ingress
              target: 80
              published: "8081"
              protocol: tcp
        restart: unless-stopped
        volumes:
            - type: bind
              source: /srv/storage/services/dns/pihole/etc-pihole
              target: /etc/pihole
              bind:
                create_host_path: true
            - type: bind
              source: /srv/storage/services/dns/pihole/etc-dnsmasq.d
              target: /etc/dnsmasq.d
              bind:
                create_host_path: true
    unbound:
        cpu_shares: 90
        command: []
        container_name: unbound
        deploy:
            resources:
                limits:
                    memory: "16024338432"
        hostname: unbound
        image: mvance/unbound:latest
        labels:
            icon: https://cdn.jsdelivr.net/gh/homarr-labs/dashboard-icons/png/pi-hole.png
        networks:
            dns-net: null
        restart: unless-stopped
networks:
    default:
        name: dns_default
    dns-net:
        name: dns_dns-net
        driver: bridge
x-casaos:
    author: self
    category: self
    hostname: ""
    icon: https://cdn.jsdelivr.net/gh/homarr-labs/dashboard-icons/png/pi-hole.png
    index: /admin
    is_uncontrolled: false
    port_map: "8081"
    scheme: http
    title:
        custom: Pi-hole
