name: portal

services:
  homepage:
    image: ghcr.io/gethomepage/homepage:latest
    container_name: homepage
    restart: unless-stopped
    ports:
      - "3000:3000"          # ya lo tenías así para que Caddy llegue
    volumes:
      - /srv/storage/services/portal/homepage:/app/config
      - /var/run/docker.sock:/var/run/docker.sock:ro
      - /srv/storage/services/portal/assets/services:/app/public/icons:ro
      - /srv/storage:/srv/storage:ro
    environment:
      PUID: 1000
      PGID: 1000
      TZ: Europe/Madrid
      # Podés dejar esto o quitarlo, ya casi no lo necesitamos:
      # NODE_TLS_REJECT_UNAUTHORIZED: "0"

  portal-api:
    image: nginx:alpine
    container_name: portal-api
    restart: unless-stopped
    volumes:
      - /srv/storage/services/portal/data:/usr/share/nginx/html:ro
    expose:
      - "80"
