name: portal

services:
  homepage:
    image: ghcr.io/gethomepage/homepage:latest
    container_name: homepage
    restart: unless-stopped

    # network_mode: host

    # Puerto que usará Caddy para llegar a Homepage
    ports:
      - "3000:3000"

    volumes:
      # Configuración de Homepage (settings.yaml, widgets.yaml, services.yaml…)
      - /srv/storage/services/portal/homepage:/app/config

      # Para que Homepage pueda leer el estado de contenedores (opcional, pero útil)
      - /var/run/docker.sock:/var/run/docker.sock:ro

      # Iconos personalizados (jellyfin, immich, etc.)
      - /srv/storage/services/portal/assets/services:/app/public/icons:ro

      # Imágenes de Fondo
      - /srv/storage/services/portal/assets/wallpapers:/app/public/images

      # Sólo lectura del árbol de /srv/storage por si algún widget lo necesita
      - /srv/storage:/srv/storage:ro

      # JSON automático para el Homepage con información sobre el almacenamiento en: Jellyfin, Immich y Nextcloud
      - /srv/storage/services/portal/data:/app/public/data:ro

    environment:
      PUID: 1000
      PGID: 1000
      TZ: Europe/Madrid

      # IMPORTANTÍSIMO: permitir el host portal.srv (si no, da "Host validation failed")
      HOMEPAGE_ALLOWED_HOSTS: "portal.srv,localhost,127.0.0.1"
      HOMEPAGE_BASE_URL: "https://portal.srv"

    extra_hosts:
      - "qbittorrent.internal:192.168.1.116"
      - "radarr.internal:192.168.1.116"
      - "pihole.internal:192.168.1.116"
      - "host.docker.interal:host-gateway"

  portal-api:
    image: nginx:alpine
    container_name: portal-api
    restart: unless-stopped

    # Sirve directamente los JSON desde /srv/storage/services/portal/data
    volumes:
      - /srv/storage/services/portal/data:/usr/share/nginx/html:ro

    # Además de 'expose', vamos a publicar un puerto del host
    # para que homepage (que ahora está en host) pueda entrar.
    #ports:
    #  - "3001:80"

    # Sólo hace falta que sea accesible desde otros contenedores del mismo stack
    expose:
      - "80"
